body{
    background-color: deeppink;  
    color: rgb(182, 47, 47);
    font-family: Helvetica,
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}